@namespace PlannerApp.BlazorWebAssembly.Components.ToDoItems

<div class="mt-2 p-1 d-flex flex-row align-center">
    <MudCheckBox @bind-Checked="@_isChecked" Color="Color.Primary" Class="flex-grow-0 flex-shrink-0 mr-2"></MudCheckBox>
    <MudText Typo="Typo.subtitle1" Class="flex-grow-1 flex-shrink-0">Studing Blazor with .Net 6.0  And ASP NET Core </MudText>
    <MudIconButton Icon="@Icons.Material.Filled.Delete" Color="Color.Error" aria-label="delete" Class="flex-grow-0 flex-shrink-0"></MudIconButton>
   
</div>
